* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #1d1d20;
  font-family: "Public Sans", sans-serif;
  --font-family-sans-serif: "Public Sans", sans-serif;
}

header {
  width: 100%;
  height: 65px;
  background-color: #2a3038;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
  /* z-index: 10; */
}
.first img {
  height: 50px;
  width: 140px;
  margin-left: 10px;
}
.second {
  width: 400px;
  margin-right: 450px;
  display: flex;
}
.second img {
  width: 90px;
  height: 50px;
}
.second .iconn {
  color: #9da0a8;
  position: absolute;
  top: 28px;
  left: 280px;
  z-index: 10;
  font-size: x-small;
}
.second button {
  width: 250px;
  height: 40px;
  margin-top: 5px;
  padding-right: 80px;
  background-color: #3d4349;
  color: #9da0a8;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}
.third {
  width: 500px;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.third a {
  color: #9da0a8;
  margin: 10px;
}
.third button {
  background-color: rgb(61, 134, 228);
  height: 40px;
  width: 95px;
  border-radius: 8px;
  border: none;
}
.third button a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: solid;
}

.header1 {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img img {
  margin-left: 120px;
  width: 60px;
  height: 60px;
}

.main {
  display: flex;
}
.main h2 {
  color: azure;
}
.main img {
  width: 25px;
  height: 30px;
  margin: 0px 20px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
}
.main-nav {
  margin-right: 300px;
}
.right {
  display: flex;
  gap: 20px;
  margin-left: 230px;
}
.right .one {
  text-transform: uppercase;
  color: #9da0a8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(129, 127, 127);
  padding-right: 15px;
}
.right .onee {
  text-transform: capitalize;
}
.right .one .two {
  padding-top: 10px;
}
.right .two {
  font-size: 20px;
}

.main button {
  height: 20px;
  margin-top: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  background-color: rgb(206, 213, 219);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: left;
  height: 50px;
  padding: 25px 0px 35px 140px;
  border-top: 1px solid #2f2f30;
  border-bottom: 1px solid #2f2f31;
}
nav a {
  color: rgb(37, 37, 189);
  padding-right: 20px;
  text-decoration: none;
}
section {
  margin-bottom: 70px;
}
section,
.h2,
.p {
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-left: 70px;
}
a {
  text-decoration: none;
  color: rgb(22, 22, 179);
}
.sectionn {
  display: flex;
}
.twooo {
  /* border: 1px solid green; */
  width: 33%;
  border-right: 3px solid white;
  /* height:70px ; vrati se posle */
  height: 100vh;
  font-size: 14px;
}
.twoo {
  width: 100%;
  height: 70px;
  background-color: rgb(33, 37, 43);
  border-bottom: 1px solid #424246;
}
.twoo button {
  width: 90%;
  height: 40px;
  margin: 15px 5%;
  text-align: left;
  background-color: #31353a;
  color: #9da0a8;
  font-size: 14px;
  border: 1px solid #424246;
  border-radius: 4px;
}
.twoo button:hover {
  border: 1px solid rgb(16, 119, 203);
}
.flex {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgb(33, 37, 43);
  border: none;
}
.flex1 {
  background-color: rgb(37, 38, 46);
}
.flex:hover {
  background-color: rgb(13, 15, 34);
}
.flex h6 {
  color: rgb(42, 128, 55);
  padding: 0px 10px;
  margin: auto 0px;
}
.flex p {
  color: aliceblue;
  margin: auto 0px;
}
.three {
  color: aliceblue;
  margin: auto 0px;
  font-size: 14px;
}
.three h3 {
  padding-left: 20px;
}
.twoo {
  display: flex;
}
.btn {
  width: 180px;
  margin-left: 100px;
}
.btn i {
  margin: 0px 10px;
}
.paragraf {
  color: white;
}
.paragraf p {
  margin: 20px;
}
.label1 {
  border-top: 1px solid #2f2f31;
  color: aliceblue;
  padding: 20px;
  padding-right: 7px;
}

.label1 input {
  width: 250px;
  height: 30px;
  background-color: #2a3038;
  border: 1px solid #3e3e4a;
  border-radius: 3px;
  padding-left: 10px;
  margin-left: 80px;
}

.label1 a {
  padding-left: 170px;
}
.parameters {
  width: 100%;
  height: 45px;
  background-color: rgb(33, 37, 43);
  color: aliceblue;
  padding-top: 16px;
  padding-left: 30px;
}
.label1 select {
  width: 250px;
  height: 30px;
  background-color: #2a3038;
  border: 1px solid #3e3e4a;
  border-radius: 3px;
  padding-left: 10px;
}
.labell input {
  margin-left: 160px;
}
.labell p {
  color: #777a80;
}
.labell {
  border: none;
}
.optional {
  width: 100%;
  margin-top: 30px;
  color: aliceblue;
}
.end1 {
  
  width:100%;
  height: 70px;
  background-color: rgb(33, 37, 43);
  border-bottom: 1px solid #424246;
}
.end1 a {
  /* ovde */
  padding: 20px;
}
.btn1 {
  margin-top: 30px;
  margin-left: 15px;
  width: 120px;
  height: 20px;
  background-color: #31353a;
  color: aliceblue;
  border-radius: 5px;
  border: 1px solid #777a80;
}
.btn1:hover {
  border: 1px solid rgb(3, 125, 201);
}