* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Allerta Stencil", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Lobster Two", cursive;
  font-family: "Marck Script", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Sail", cursive;
  font-family: "Sono", sans-serif;
  font-family: "Zilla Slab", serif;
  background-color: rgb(240, 248, 255);
}
header {
  width: 100%;
  height: 80px;
  background-color: rgb(20, 20, 100);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  font-size: larger;
}
header h1 {
  padding-bottom: 10px;
}

header a {
  margin: 40px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/* header a:nth-of-type(5){ */
.btn {
  color: black;
}
header button {
  /* width: 130px; */
  height: 40px;
  border: none;
  border-radius: 90px;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-left: 160px;
}
.box {
  width: 210px;
  height: 200px;
  text-align: center;
  background-color: rgb(223, 238, 252);
  position: relative;
}
.first {
  bottom: 30px;
}
.third {
  bottom: 30px;
}
.second {
  top: 30px;
}
.fourth {
  top: 30px;
}
.icon {
  margin: 15px;
}
h2 {
  margin-bottom: 10px;
  text-transform: capitalize;
}
p {
  margin: 0px 20px;
  text-align: justify;
  text-align-last: center;
}
img {
  height: 550px;
  position: relative;
  top: 50px;
  right: 70px;
}
article {
  width: 250px;
  height: 550px;
  background-color: rgb(223, 238, 252);

  justify-items: center;
  margin-top: 150px;
  /* transition: width 2s, height 2s, transform 2s; */
}
article:hover {
  width: 350px;
  height: 650px;
  /* transform: rotate(120deg); */
}
article div {
  text-align: center;
}
article h1 {
  padding-top: 40px;
  padding-bottom: 10px;
}

article .p1 {
  font-size: 70px;
  padding-bottom: 30px;
}

article p {
  padding: 10px 0px;
}
.button {
  width: 120px;
  height: 40px;
  border-radius: 90px;
  margin-top: 40px;
  background-color: rgb(223, 238, 252);
}
main {
  display: flex;
  gap: 20px;
  place-content: center;
}
footer {
  margin-top: 80px;
  width: 100%;
  height: 100px;
  background-color: rgb(20, 20, 100);
}
.child1 {
  background-color: rgb(221, 221, 221);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 2s ease-in-out;
}
.child2 {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transition: transform 2s ease-in-out;
}

.child1:hover {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.parent:hover .child1 {
  transform: translateX(1465px);
}
.parent:hover .child2 {
  transform: translateX(-1465px);
}

@media (max-width: 500px;) {
  header {
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
  }
}
