* {
  margin: 0px;
  box-sizing: border-box;
}
.box {
  height: 150px;
  width: 150px;
  float: left;
}
.box1 {
  background-color: rgba(142, 232, 86, 0.6);
  /* float: left; */
}
.box2 {
  background-color: rgb(95, 187, 38);
  /* float: left; */
}
.box3 {
  background-color: rgb(82, 151, 40);
}
.box4 {
  background-color: rgb(35, 76, 9);
  clear: both;
  /* float: left; */
}
.box5 {
  background-color: rgb(94, 117, 80);
}
.box6 {
  background-color: rgb(67, 174, 0);
}
.box7 {
  background-color: rgb(17, 34, 7);
}
p {
  /* clear: both; */
}
